@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --color-white:#fff; 
    --color-blue-dark:#080e29; 
    --color-blue:#0cc0df; 
    --color-black: #000000; 
}

body {
    background: #080e29;
    background: linear-gradient(360deg,#0cc0df 0%, #080e29 95%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.quiz-container {
    max-width: 600px; 
    margin: auto; 
    background: #fff; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.1); 
}

h2 {
    font-size: 20px;
    font-weight: 400;
}

.question {
    font-size: 26px; 
    margin-top: 2%;
    font-weight: bold;
    margin-bottom: 20px; 
}

.options {
    list-style: none;
    padding: 0;
}

.options li {
    margin-bottom: 8px;
    background: rgba(182, 182, 182, 0.5);  /* fundo branco com 50% de opacidade */
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    transition: 0.2s ease;
}

.options li:hover {
    background: rgba(222, 222, 222, 0.5);  /* fundo branco com 50% de opacidade */
}

.options li label {
    display: block;
    cursor: pointer;
}

button {
    border: 2px solid var(--color-blue-dark);      
    background-color: transparent;  
    color: var(--color-blue-dark);                 
    padding: 8px 12px;
    border-radius: 25px;
    font-weight: 500;
    font-size: 14px;
    margin-top: 15px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    transition: all 0.4s ease; 
}

button:hover { 
    background-color: var(--color-blue);
    border: 2px solid var(--color-blue);      
    color: #080e29;
}
    
.Progresso-container {
    width: 100%;      
    height: 5px;      
    background: rgba(182, 182, 182, 0.5);;
    border-radius: 2px;
    overflow: hidden;
    margin-top: 3px;
    margin-bottom: 15px;
}


.Progresso-bar {
    height: 100%;     
    width: 0%;
    background: linear-gradient(90deg,#080e29 0%, #0cc0df 95%);
    transition: width 0.3s;
}
