@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

:root {
  --color-white: #fff;
  --color-blue-decoran: #0e879c;
  --color-blue-dark: #080e29;
  --color-blue: #0cc0df;
  --color-black: #000000;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-blue);
}

::-webkit-scrollbar-track {
  background-color: var(--color-blue-dark);
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-blue-dark);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(8, 14, 41, 0.214);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
  color: var(--color-white);
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 100px;
}

.header.blur {
  background-color: rgba(8, 14, 41, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
}

.logo img {
  height: 55px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-link a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.nav-link a:hover {
  color: var(--color-blue);
}

.nav-link .ativo {
  color: var(--color-blue);
}

.link-formulario {
  border: 2px solid var(--color-blue);
  background-color: transparent;
  color: var(--color-blue);
  padding: 8px 12px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: all 0.4s ease;
}

.link-formulario:hover {
  background-color: var(--color-blue);
  color: #080e29;
}

.link-formulario i {
  background-color: var(--color-blue);
  color: #080e29;
  border-radius: 50%;
  padding: 6px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.link-formulario:hover i {
  background-color: #080e29;
  color: var(--color-blue);
}

.apresentacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: var(--color-blue-dark);
  color: #fff;
  width: 100%;
  height: 100vh;
  position: relative;
}

.apresentacao .background-apresentacao {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.apresentacao .background-apresentacao video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.apresentacao-content {
  max-width: 1000px;
  position: relative;
  z-index: 1;
  padding: 70px 120px 50px;
}

.apresentacao-content h4 {
  font-size: 46px;
}

.apresentacao-content h3 {
  font-size: 33px;
}

.apresentacao-content span {
  color: #0cc0df;
}

.apresentacao-content h1 {
  font-size: 58px;
  color: #0cc0df;
}

.apresentacao-content p {
  font-size: 26px;
  margin-top: 2%;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-blue);
  color: #080e29;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 20px;
  font-size: 19px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), 0 0 20px var(--color-blue);
}

.filmes {
  color: var(--color-white);
  padding: 60px 40px;
  text-align: center;
}

.titulo-filmes h2,
.titulo-filmes span {
  font-size: 38px;
  font-weight: 800;
}

.titulo-filmes span {
  color: var(--color-blue);
}

.cards-filmes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 75px;
  margin-top: 40px;
  max-width: 95%;
  margin-left: 3%;
}

.card-filmes {
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid var(--color-blue);
  border-radius: 15px;
  width: 380px;
  height: 390px;
  text-align: justify;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-filmes:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), 0 0 20px var(--color-blue);
}

.card-filmes img {
  border-radius: 15px;
  margin: 0;
  top: 0;
  width: 100%;
  height: 50%;
  object-fit: cover;
  z-index: 0;
}

.card-filmes h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 18px;
  background-color: var(--color-blue-decoran);
  color: var(--color-white);
  border: 1px solid white;
  border-radius: 15px;
  padding: 5px 15px;
  z-index: 1;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card-filmes p {
  margin-top: 40px;
  font-size: 14px;
  padding: 0 20px;
  line-height: 21px;
  text-align: justify;
}

.calculadora-filmes {
  background-color: rgba(255, 255, 255, 0.086);
  padding: 30px;
  border-radius: 15px;
  width: 85%;
  color: white;
  text-align: center;
  margin-left: 8%;
  margin-top: 2%;
  height: 230px;
}

.calculadora-filmes input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 80px;
  font-size: 16px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.123);
}


#div_mensagem {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.apresentar-recomendacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.086);
  width: 85%;
  height: auto;
  height: 200px;
  border-radius: 15px;
  margin-left: 8%;
  gap: 40px;
  margin-top: 5%;
}

.banner-recomendacao {
  display: flex;
  align-items: center;
  width: 100%;
}

.recomendacao {
  width: 50%;
  display: flex;
  align-items: center;
}

.recomendacao h2 {
  font-size: 40px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.123);
  padding: 74px 40px;
  border-radius: 15px 100px 100px 15px;
}

.banner-txt {
  width: 80%;
}

.banner-txt h1 {
  font-size: 32px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.banner-txt p {
  font-size: 17px;
  color: #ddd;
}

.banner-img img {
  width: 50%;
  margin-top: 50%;
  margin-left: 40%;
}

.rodape {
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  margin-top: 80px;
}

.logo-rodape img {
  height: 70px;
  margin-bottom: 20px;
}

.menu-rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.links-rodape {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.link-rodape a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link-rodape a:hover {
  color: var(--color-blue);
}

.social-media {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.social-media a {
  color: var(--color-blue);
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: var(--color-white);
}
